.vs/HW3D/v16/.suo
.vs/HW3D/v16/Browse.VC.db
.vs/HW3D/v16/Browse.VC.db-shm
.vs/HW3D/v16/Browse.VC.db-wal
.vs/HW3D/v16/Browse.VC.opendb
.vs/HW3D/v16/ipch/AutoPCH/36d21bdb11a0748c/SHEET.ipch
.vs/HW3D/v16/ipch/AutoPCH/a9b0ce52ba8e7c64/APP.ipch
.vs/HW3D/v16/ipch/AutoPCH/bc0e9778ad479c8/WINMAIN.ipch
.vs/HW3D/v16/ipch/AutoPCH/d7356b71071fbc9a/ASSTEST.ipch
.vs/HW3D/v16/ipch/AutoPCH/f8753cb35855a636/SKINNEDBOX.ipch
HW3D/x64/Debug/AssTest.obj
HW3D/x64/Debug/hw3d.log
HW3D/x64/Debug/vc142.idb
HW3D/x64/Debug/vc142.pdb
HW3D/x64/Debug/hw3d.tlog/CL.command.1.tlog
HW3D/x64/Debug/hw3d.tlog/CL.read.1.tlog
HW3D/x64/Debug/hw3d.tlog/CL.write.1.tlog
HW3D/x64/Debug/hw3d.tlog/link.read.1.tlog
x64/Debug/HW3D.exe
x64/Debug/HW3D.ilk
x64/Debug/HW3D.pdb
HW3D/x64/Debug/Sheet.obj
HW3D/x64/Debug/SkinnedBox.obj
HW3D/x64/Debug/hw3d.tlog/link.write.1.tlog
.vs/HW3D/v16/ipch/AutoPCH/59995ce35b644f0e/VERTEXLAYOUT.ipch
HW3D/x64/Debug/
.vs/

HW3D/PhongPS.cso

HW3D/PhongVS.cso

HW3D/PhongPSSpecMap.cso

HW3D/SolidPS.cso

HW3D/SolidVS.cso

HW3D/PhongPSNormalMap.cso

*.cso
