
.vs/HW3D/v16/Browse.VC.db
.vs/HW3D/v16/Browse.VC.db-shm
.vs/HW3D/v16/Browse.VC.db-wal
.vs/HW3D/v16/Browse.VC.opendb
.vs/HW3D/v16/ipch/AutoPCH/5a76a65689f0a1b7/WINDOW.ipch
.vs/HW3D/v16/ipch/AutoPCH/bc0e9778ad479c8/WINMAIN.ipch
HW3D/x64/Debug/GrbException.obj
HW3D/x64/Debug/HW3D.exe.recipe
HW3D/x64/Debug/HW3D.log
HW3D/x64/Debug/HW3D.tlog/CL.11780.write.1.tlog
HW3D/x64/Debug/HW3D.tlog/CL.command.1.tlog
HW3D/x64/Debug/HW3D.tlog/CL.read.1.tlog
HW3D/x64/Debug/HW3D.tlog/HW3D.lastbuildstate
HW3D/x64/Debug/HW3D.tlog/link.command.1.tlog
HW3D/x64/Debug/HW3D.tlog/link.read.1.tlog
HW3D/x64/Debug/HW3D.tlog/link.write.1.tlog
HW3D/x64/Debug/vc142.idb
HW3D/x64/Debug/vc142.pdb
HW3D/x64/Debug/Window.obj
HW3D/x64/Debug/WindowsMessageMap.obj
HW3D/x64/Debug/WinMain.obj
x64/Debug/HW3D.exe
x64/Debug/HW3D.ilk
x64/Debug/HW3D.pdb
HW3D/Debug/WinMain.obj
HW3D/Debug/WindowsMessageMap.obj
HW3D/Debug/Window.obj
HW3D/Debug/vc142.pdb
HW3D/Debug/vc142.idb
HW3D/Debug/HW3D.tlog/rc.write.1.tlog
HW3D/Debug/HW3D.tlog/rc.read.1.tlog
HW3D/Debug/HW3D.tlog/rc.command.1.tlog
HW3D/Debug/HW3D.tlog/link.write.1.tlog
HW3D/Debug/HW3D.tlog/link.read.1.tlog
HW3D/Debug/HW3D.tlog/link.command.1.tlog
HW3D/Debug/HW3D.tlog/HW3D.lastbuildstate
HW3D/Debug/HW3D.tlog/CL.write.1.tlog
HW3D/Debug/HW3D.tlog/CL.read.1.tlog
HW3D/Debug/HW3D.tlog/CL.command.1.tlog
HW3D/Debug/HW3D.res
HW3D/Debug/HW3D.log
HW3D/Debug/HW3D.exe.recipe
HW3D/Debug/GrbException.obj
Debug/HW3D.pdb
Debug/HW3D.ilk
Debug/HW3D.exe
.vs/HW3D/v16/ipch/AutoPCH/d60366b18d884432/WINDOW.ipch
.vs/HW3D/v16/ipch/AutoPCH/b6ee17e0381f7d7d/WINDOWSMESSAGEMAP.ipch
.vs/HW3D/v16/.suo
.vs/HW3D/v16/ipch/AutoPCH/bdff77bde9a117c3/KEYBOARD.ipch
